.header-restaurant-page {
  @include headerStyles;
  justify-content: space-between;

  .fa-arrow-left {
    color: $arrow-color;
    font-size: 2rem;
    margin-left: 2rem;
    font-weight: bold;
    position: relative;
    display: inline-block;
    transition: all 300ms ease-out;

    &:hover {
      transform: translateX(-.5rem);
    }

    &.active {
      @include smart-animate-arrow;
    }
  }

  @keyframes smart-animate-arrow {
    from {
      opacity: 0;
      transform: scale(0);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}


picture {
  img {
    position: relative;
    width: 100%;
    min-height: 28rem;
  }
}

.menu-creation {
  background-color: $grey-background ;
  height: 135.6rem;
  width: 100%;
  padding-top: 3.5rem;

  &-titles {
    position: absolute;
    display: flex;
    justify-content: space-between;
    border-radius: 4rem;
    width: 100%;
    top: 35vh;
    background-color: $grey-background;
    margin-top: -1rem;
    height: 8rem;

    &-title {
      @include h2TitlePageRestaurants;
      margin: 1.5rem;
    }

    .fa-regular.fa-heart {
      @include heart-icon;
    }
  }

  &-items {
    display: flex;
    flex-direction: column;
    height: 27rem;
    width: 100%;
    justify-content: center;
    align-items: center;

    &-composition {
      font-family: Roboto;
      font-size: 16px;
      font-weight: 300;
      line-height: 18.75px;
    }

    &-list {
      width: 90%;
      border: 1px solid black;

      &-item {
        margin-top: 1rem;
        width: 100%;
        border: 1px solid black;
        height: 6.9rem;

        &-title {
          @include h4AllPages;
        }
      }

    }
  }

}












@media (max-width:768px) {
  img {
    max-height: 27.5rem;
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
}


@media (min-width:768px) {
  img {
    max-height: 383px;
    width: 100%;
    height: 50%;
    object-fit: cover;
  }

  .menu-creation {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 105.5rem;
    height: 122.1rem;
    background-color: $grey-background ;

    &-titles {
      width: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      max-width: 105.5rem;
      height: 20rem;
      background-color: $grey-background;
      border-radius: 4rem;
      top: 40rem;
      margin-bottom: 10rem;

      .fa-regular.fa-heart {
        margin-left: 2rem;
      }
    }
  }


}