.header {
  @include headerStyles;
  justify-content: space-between;

  .fa-arrow-left {
    color: $arrow-color;
    font-size: 2rem;
    margin-left: 2rem;
    font-weight: bold;
    position: relative;
    display: inline-block;
    transition: all 300ms ease-out;

    &:hover {
      transform: translateX(-.5rem);
    }

    &.active {
      @include smart-animate-arrow;
    }
  }

  @keyframes smart-animate-arrow {
    from {
      opacity: 0;
      transform: scale(0);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}


picture {
  img {
    position: relative;
    width: 100%;
    min-height: 28rem;
  }
}



.menu-creation {
  background-color: $grey-background ;
  height: 113rem;
  width: 100%;
  padding-top: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  &-titles {
    position: absolute;
    display: flex;
    justify-content: space-between;
    border-radius: 4rem;
    width: 100%;
    top: 35vh;
    background-color: $grey-background;
    margin-top: -1rem;
    height: 8rem;

    &-title {
      @include h2TitlePageRestaurants;
      margin: 4rem 0 2rem 1rem;
    }

    .button-link-heart {
      position: relative;
      border: none;
      background: transparent;
      margin: 4.5rem 2rem 0 0;
      height: 3rem;
      width: 3rem;
    }

    @include heart-icon;

  }

  &-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 27rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;

    &-composition {
      font-family: Roboto;
      font-size: 16px;
      font-weight: 300;
      line-height: 18.75px;
      margin: 4rem 0 1rem 2rem;
      align-self: flex-start;

      &::before {
        content: "";
        position: absolute;
        width: 3.8rem;
        padding-bottom: 2.3rem;
        border-bottom: 3px solid #99e2d0;
      }
    }

    &-list {
      width: 92%;
      list-style: none;
      display: block;

      .impair {
        animation-name: impair-anim;
        animation-duration: 3s;
        animation-delay: 1s;
      }

      .pair {
        animation-name: pair-anim;
        animation-duration: 3s;
        animation-delay: 1s;
      }

      @keyframes impair-anim {
        0% {
          transform: translateX(100rem);
        }

        80% {
          transform: translateX(-10rem);
        }

        100% {
          transform: translate(0);
        }
      }

      @keyframes pair-anim {
        0% {
          transform: translateX(-100rem);
        }

        80% {
          transform: translateX(10rem);
        }

        100% {
          transform: translate(0);
        }
      }

      &-item {
        margin-top: .5rem;
        width: 100%;
        background-color: $color-white;
        box-shadow: 0 4.011494159698486rem 15.043103218078613rem 0 #0000001A;
        height: 6.9rem;
        margin-bottom: 1.3rem;
        border-radius: 1.504rem;
        padding: 1rem;
        cursor: pointer;
        transition: .5s;
        position: relative;





        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 0;
          height: 100%;
          background-color: $tertiary-color;
          transition: width 0.5s;
          z-index: 100;
          border-radius: 0 1.5rem 1.5rem 0;
        }


        &:hover {
          padding-right: 7rem;

          &::after {
            width: 6rem;

            white-space: nowrap;
          }

        }

        &-title {
          @include h4AllPages;
          margin-bottom: .7rem;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        &-title-text {
          display: flex;
          justify-content: space-between;

          &-description {
            font-family: Roboto;
            font-size: 15.04px;
            font-weight: 300;
            line-height: 17.63px;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }

          &-price {
            font-family: Roboto;
            font-size: 15.04px;
            font-weight: 700;
            line-height: 17.63px;
            text-align: center;

            input[type="checkbox"] {
              display: none;
            }
          }
        }
      }
    }
  }

  .order-button {
    @include buttonPages;
    margin: 2rem auto;
    margin-top: 1.5rem;
    width: 18.6rem;
    font-size: 1.6rem;
  }
}

.enchantee-one-more-item {
  height: 120rem;

  &-entree {
    margin: 5rem 0 4rem 0;
  }
}



@media (max-width:768px) {
  img {
    max-height: 27.5rem;
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
}


@media (min-width:768px) {
  img {
    max-height: 383px;
    width: 100%;
    height: 50%;
    object-fit: cover;
  }

  .menu-creation {
    margin: 0 auto;
    width: 100%;
    max-width: 105.5rem;
    background-color: $grey-background ;

    &-titles {
      width: 100%;
      display: flex;
      justify-content: center;
      max-width: 105.5rem;
      height: 10rem;
      top: 40rem;

      .button-link-heart {
        position: relative;
        border: none;
        background: transparent;
        margin: 4.5rem 2rem 0 2rem;
        height: 3rem;
        width: 3rem;
      }

    }

    &-items {
      width: 70%;
      margin: auto;

      &-composition {
        padding-bottom: .3rem;
        margin-left: 3rem;
      }

      &-list {
        width: 92%;
        list-style: none;

      }
    }

    .order-button {
      font-size: 1.6rem;
      margin: 1rem auto 4rem auto;
    }
  }

  .enchantee-one-more-item {
    height: 120rem;

    &-entree {
      margin-top: 5rem;
    }
  }


}