@import "base";

.loader {
  @include loader;
}

.loader2 {
  @include loader;
}

.loader::after {
  @include loader-after;
  border: 30px solid $primary-color;
  border-top: 30px solid $secondary-color;
}

.loader2::after {
  @include loader-after;
  border: 30px solid $tertiary-color;
  border-top: 30px solid $label-new-color;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 1;
    z-index: 1000;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

}